.UserStatus{
    color: white;
    border-bottom: 2px solid rgba(255, 255, 255, 0.5); 
    /* border-top: 2px solid rgba(255, 255, 255, 0.5); */
    /* border-radius: 4px; */
    padding: 10px 20px;   
}

.UserName{
    display: flex;
    gap: 10px;
    justify-content: center; 
    align-items: center;
    margin: -2px;
    height: 5vh;
    width: 10vw;
}

@media (max-width: 768px) {
    .UserName {
        display: flex;
        gap: 10px;
        justify-content: center; 
        align-items: center;
        margin: -2px;
        height: 6vh;
        width: 10vw;
        margin-left: 45px;
    }
}


