* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.BodyContainer {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    padding: 20px; 
    gap: 60px; 
}

.MainContainer {
    display: flex;
    justify-content: center; /* Centrování obsahu */
    /* border: 1px solid white; */
    border-radius: 5px;
    box-shadow: 1 2px 8px white; 
    background-color: rgba(255, 255, 255, 0.2);
    padding: 20px; 
    margin-bottom: 50px;
    z-index: 2;
}

@media (max-width: 768px) {
    .MainContainer {
        flex-direction: column;
        align-items: center; /* Zarovnejte položky na střed */
    }
}

.CardContainer {
    display: flex;
    justify-content: center; /* Centrování obsahu */
    align-items: center; /* Uložení na střed */
    margin-left: 10px; /* Upravte levý okraj pro lepší vzhled */
    margin-right: 10px;
}

.Card {
    display: flex;
    align-items: center; /* Upraveno pro vertikální zarovnání */
    width: 25vw; /* Zvětšení šířky pro větší fotografii */
    margin-left: 10px;
}

@media (max-width: 768px) {
    .Card {
        width: 100%; /* Šířka na 100% pro mobil */
        height: auto; /* Uložení na automatickou výšku */
    }
}

.ContainerLabel {
    display: flex;
    align-items: center;
    justify-content: center;
    /* border: 3px solid white; */
    border-radius: 8px;
    color: white;
    font-weight: bold;
    margin: 10px 0; /* Odstranění mezery z levé i pravé strany */
    width: 100%; /* Nastavení šířky na 100% */
    padding: 10px; /* Přidání paddingu pro vyplnění obsahu */
}

.CarouseContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    box-shadow: 1 2px 8px white; 
    background-color: rgba(255, 255, 255, 0.2);
    height: 30vh;
    width: 90vw;
    margin: 20px auto; /* Uplatnění margin auto pro centrování */
}

@media (max-width: 768px) {
    .CarouseContainer {
        width: 100%; /* Nastavení šířky na 100% pro mobil */
        margin: -50px auto; /* Zmenšení mezery pod Carousel */
        height: auto; /* Zvýšení flexibility pro výšku */
    }
}

/* Zajištění zarovnání na velkých obrazovkách */
@media (min-width: 769px) {
    .MainContainer {
        flex-direction: row; /* Dvě řádky do strany */
    }

    .CardContainer,
    .ContainerLabel {
        margin-left: 10px; /* Upravte mezery mezi kartami */
        margin-right: 10px; /* Upravte mezery mezi kartami */
    }
}



