.Card{
    display: flex;
    align-items: right;
    width: 23vw;
    margin-left: 10px;

}
@media (max-width: 768px) {
    .Card {
        height: 50vh;
        width: 65vw;
    }
}
.CardEffect {
    transition: filter 0.3s ease;
}
  
.CardEffect:hover {
    filter: brightness(1.1); 
}

/* Carousel card  */
.CarouseContainer{
    display: flex;
    height: 30vh;
    width: 80vw;
    border: 2px solid pink;
}
.hoverEffect {
    transition: filter 0.3s ease;
}
  
.hoverEffect:hover {
    filter: brightness(1.3); 
}


/* Custom control label  */

