.spaceMonoRegular {
  font-family: "Space Mono", monospace;
  font-weight: 400;
  font-style: normal;
}

.spaceMonoBold {
  font-family: "Space Mono", monospace;
  font-weight: 700;
  font-style: normal;
}

.gradientText {
  margin-top: 13px;
  font-size: 1.2em; 
  font-family: 'YourCustomFont', sans-serif; 
  font-weight: 800; 
  background: linear-gradient(74deg, rgb(46, 7, 109), rgb(86, 7, 97));
  -webkit-background-clip: text; 
  -webkit-text-fill-color: transparent; 
  display: inline-block; 
  margin: 8px 40px;
}

.mainContainer{
  display: flex;
  margin: 0px;
  width: 85vw;
  height: 130vh;
}
.description{
  display: flex;
  border-radius: 5px;
  box-shadow: 1 2px 8px white; 
  background-color: rgba(255, 255, 255, 0.2);
  white-space: nowrap; 
  color: rgb(66, 66, 177);
  font-size: 1.1em; 
  font-weight: bold;
  text-align: left;
  width: 95vw;
  height: 15vh;
  flex-direction: column;
  margin: 25px;
  /* padding: 30px -80px; */
}

.flex {
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
  width: 95vw;
  height: 120vh;
  margin-top: 70px;
  border-radius: 5px;
  box-shadow: 1 2px 8px white; 
  background-color: rgba(255, 255, 255, 0.2);
}

.nav {
  flex: 0 0 300px;  
  height: 95vh;
}

.detail {
  /* display: flex; */
  flex: 1 1 auto;
  /* width: 50vw; */
  height: 40vh;
  border-radius: 10px;
}

.dreamList {
  list-style: none;
  margin: 10px;
  padding: 10px 10px;
}

.dreamList li {
  margin: 6px 30px;
  background-image: linear-gradient(15deg, #13547a 0%, #80d0c7 100%);
  box-shadow: 0 0 10px rgba(255, 255, 255, 0.5);
  border-radius: 5px; 
  font-size: 1.1rem; 
  font-weight: bold;
  /* border: 1px solid rgba(19, 106, 138, 0.8); */
}

.dreamList a {
  display: block;
  padding: 10px 20px;
  gap: 5px;
  box-shadow: 0 0 9px rgba(255, 255, 255, 0.5);
  /* background: rgba(19, 106, 138, 0.8);
  background: -webkit-linear-gradient(to left, rgba(38, 120, 113, 0.8), rgba(19, 106, 138, 1.8));
  background: linear-gradient(to left, rgba(218, 240, 239, 0.4), rgba(19, 106, 138, 1.8)); */
  text-decoration: none; 
  /* background: white; */
  color: white; 
}

.dreamList a:hover {
  background: lightcyan;
  box-shadow: 0 0 9px rgba(255, 255, 255, 0.5);
  border-radius: 5px; 
  color: rgb(66, 66, 177);  
}


.dreamList a.active {
  /* background: navy; */
  color: white;

}

.ContainerLabel {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 8px;
  color: white;
  font-weight: bold;
  margin: 10px 0; 
  width: 100%; 
  padding: 10px; 
}