.navbar {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
}
.navButton {
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    /* background-color: #007bff; */
    background-color: #479ac7;
    box-shadow: 0 0 9px rgba(255, 255, 255, 0.5);
    /* border: none; */
    border: 0.2px solid;
    border-radius: 5px;
    font-size: 0.95rem;
    padding: 0.5rem 1rem;
}
.navButton:hover {
    /* background-color: aquamarine; */
    background-color: rgb(83, 157, 167);
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.5);
}

@media (max-width: 600px) {
    .navbar {
        grid-template-columns: 1fr; 
    }
}