.spaceMonoRegular {
  font-family: "Space Mono", monospace;
  font-weight: 400;
  font-style: normal;
}

.spaceMonoBold {
  font-family: "Space Mono", monospace;
  font-weight: 700;
  font-style: normal;
}

.gradientText {
  margin-top: 13px;
  font-size: 1.2em; 
  font-family: 'YourCustomFont', sans-serif; 
  font-weight: 800; 
  background: linear-gradient(74deg, rgb(46, 7, 109), rgb(86, 7, 97));
  -webkit-background-clip: text; 
  -webkit-text-fill-color: transparent; 
  display: inline-block; 
  margin: 8px 40px;
}

.mainContainer{
  display: flex;
  margin: 0px;
  width: 85vw;
  height: 130vh;
}
.description{
  display: flex;
  border-radius: 5px;
  box-shadow: 1 2px 8px white; 
  background-color: rgba(255, 255, 255, 0.2);
  white-space: nowrap; 
  color: rgb(66, 66, 177);
  font-size: 1.1em; 
  font-weight: bold;
  text-align: left;
  width: 95vw;
  height: 15vh;
  flex-direction: column;
  margin: 25px;
}

.flex {
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
  width: 95vw;
  height: 120vh;
  margin-top: 70px;
  border-radius: 5px;
  box-shadow: 1 2px 8px white; 
  background-color: rgba(255, 255, 255, 0.2);
}

.nav {
  flex: 0 0 300px;  
  height: 95vh;
}

/* .detail {
  flex: 1 1 auto;
  height: 40vh;
} */

.dreamList {
  list-style: none;
  margin: 10px;
  padding: 10px 10px;
  color: rgb(46, 7, 109);  
}

.dreamList li {
  margin: 6px 30px;
  border-bottom: 1px solid white;
  box-shadow: 0 0 8px rgba(255, 255, 255, 0.5);
  border-radius: 5px; 
  font-size: 1.1rem; 
  font-weight: bold;
  color: rgb(46, 7, 109);  
}

.dreamList a {
  display: block;
  padding: 10px 20px;
  gap: 5px;
  box-shadow: 0 0 9px rgba(255, 255, 255, 0.5);
  text-decoration: none; 
  color: rgb(46, 7, 109);  
}

.dreamList a:hover {
  background: lightcyan;
  box-shadow: 0 0 9px rgba(255, 255, 255, 0.5);
  border-radius: 5px; 
  color: rgb(66, 66, 177);  
}

.dreamList a.active {
  color: white;
}

@media (max-width: 768px) {
  .mainContainer {
    flex-direction: column; 
    height: auto; 
    width: auto;
  }

  .flex {
    height: auto; 
    padding: 10px;
  }

  .nav {
    flex: 0 0 auto; 
    height: auto; 
    margin-bottom: 20px; 
    padding: 40px;
  }

  .description {
    width: 95vw; 
    margin: 10px;
    text-align: center;
    height: 18vh;
    padding: 50px 5px;
  }

  .gradientText {
    margin: 0 20px; 
    font-size: 1em; 
  }

  .dreamList li {
    margin: 6px 10px; 
  }

  .dreamList a {
    padding: 8px 15px; 
  }
}

/* @media (max-width: 768px) {
  .gradientText {
      font-size: 24px; 
  }
  
  .mainContainer{
    display: flex;
    margin: 0px;
    width: 50vw;
    height: 80vh;
  }

  .description{
    width: 85vw;
    height: 15vh;
    flex-direction: column;
    margin: 25px;
  }

  .flex {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    width: 85vw;
    height: 70vh;
    margin-top: 70px;
    padding: 10px;

  }
} */

