* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.title {
    font-family:
      Greycliff CF,
      var(--mantine-font-family);
    font-weight: 900;
}

.container{
    position: absolute; 
    top: 50%; 
    left: 50%;
    transform: translate(-50%, -40%);
    display: flex;
    flex-direction: column;
    justify-content: center; 
    align-items: center;
    border-radius: 5px;
    box-shadow: 0 1px 10px rgba(255, 255, 255, 0.8); 
    background-color: rgba(255, 255, 255, 0.2);
    height: 60vh;
    margin: 0;
    max-width: 730px;
    width: 100%;
} 

.ContainerButton{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 16px;
}

.button {
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: white;
    box-shadow: 0 0 9px rgba(255, 255, 255, 0.5);
    background: rgba(19, 106, 138, 0.8);
    background: -webkit-linear-gradient(to left, rgba(38, 120, 113, 0.8), rgba(19, 106, 138, 0.8));
    background: linear-gradient(to left, rgba(38, 120, 113, 0.4), rgba(19, 106, 138, 0.8));
    border-radius: 5px; 
    font-size: 1.05rem;
    font-weight: bold;
    padding: 0.5rem 2.8rem;
    border: none; 
    margin: 5px 70px;
    white-space: nowrap; 
}
.button:hover {
    background-image: linear-gradient(15deg, #13547a 0%, #80d0c7 100%);
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.5);
    color: white;
}


@media (max-width: 768px) {
    .container {
        width: 95%; 
        margin: 50px auto; 
        height: 65vh;
        align-items: center; 
        justify-content: center;
        top: 45%; 
        left: 50%;
    }
}

@media (max-width: 768px) {
    .title {
        margin-top: 20vh;
        width: 100%; 
        height: auto; 
        /* height: 50vh; */
    }
}

@media (max-width: 480px) { 
    .button{
    font-size: 14px;
    padding: 6px 17px;
    }   
}


