.header{
    background: rgba(19, 106, 138, 0.8);  
    background: -webkit-linear-gradient(to left, rgba(38, 120, 113, 0.8), rgba(19, 106, 138, 0.8));  
    background: linear-gradient(to left, rgba(38, 120, 113, 0.4), rgba(19, 106, 138, 0.8)); 
    /* Plná barva */
    /* background: #136a8a;  
    background: -webkit-linear-gradient(to right, #267871, #136a8a, rgba(0, 0, 0.5));  
    background: linear-gradient(to right, #267871, #136a8a, rgba (0, 0, 0.5));  */
    /* background: linear-gradient(rgba(255, 0, 0, 0.5), 
                                  rgba(0, 0, 225, 0.5)); */ 
    color: white; 
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* text-align: left; */
    margin-right: 10px;
    margin: 8px;
    padding: 30px; 
}

.navbar {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
}
.header-container {
    margin-left: 5px;
    gap: 10px;
    display: flex;
    flex-direction: column;
}
.nav-button {
    padding: 0.5rem 1rem;
    color: black;
    background-color: #007bff;
    border: none;
    font-size: 1rem;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav-button:hover {
    background-color: aquamarine;
}

@media (max-width: 600px) {
    .navbar {
        grid-template-columns: 1fr; 
    }
}

.footer {
    background: rgba(22, 34, 42, 0.85); 
    background: -webkit-linear-gradient(to right, rgba(58, 96, 115, 0.55), rgba(22, 34, 42, 0.85));  
    background: linear-gradient(to left, rgba(58, 96, 115, 0.85), rgba(22, 34, 42, 0.85));
    /* Plná barva */
    /* background: #16222A;  
    background: -webkit-linear-gradient(to right, #3A6073, #16222A);  
    background: linear-gradient(to left, #3A6073, #16222A);  */
    color: white; 
    text-align: left; 
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    padding: 3px; 
} 